@use "../Navbar/navbar.scss" as navbar;

#app-container {
  position: absolute;
  display: grid;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0 0;
  padding: 0 0;
  // two rows: navbar and app content
  grid-template-rows: navbar.$height auto;
}

#content {
  position: relative;
  width: 100%;
  height: 100%;
}
