$item-height: 50px;
$vertical-margin: 15px;
// margin + content + margin
$height: $item-height + $vertical-margin * 2;

#navbar {
  position: relative;
  display: flex;
  height: $item-height;
  width: 100%;
  background-color: var(--background);
  padding: 0 15px;
  margin: $vertical-margin 0px;
}

#logo {
  margin: auto 15px;
  position: relative;
  height: $item-height - 10px;
  fill: var(--text);
  cursor: pointer;

  transition: transform 0.2s ease;
}

#logo:hover {
  transform: scale(1.05);
}

.navbar-section {
  display: flex;
  flex-direction: row;

  margin: 0px 20px;

  * {
    margin: 0 10px;
  }
}

.navbar-section:first-child {
  margin-left: 0;
}

.navbar-section:last-child {
  margin-right: 0;
}

.navbar-button {
  margin: 5px 15px;
  color: var(--c);
}

@media (max-width: 1000px) {
  #navbar {
    .button-text {
      width: 0;
      margin: 0;
    }
  }
}
